// a partial sass file
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1 rem is the root size; 10px. But never change root size to 10px */
}

body {
  box-sizing: border-box;
}